@page "/"

@inject IHttpContextAccessor _http

<PageTitle>Index</PageTitle>

@if (_http.HttpContext.User.Identity.IsAuthenticated)
{
    <h1> Hello @_http.HttpContext.User.Identity.Name</h1>
}else{
    <h1> Welcome : )</h1>
}