@page
@model IndexModel
@using Pages.Shared.Components

@{
    ViewData["Title"] = "Home";

    if (!User.Identity.IsAuthenticated)
    {
        Redirect("~/Identity/Account/Login");
    }
}

<div>
    <ChatSelectorComponent/>
</div>
