@page "/Chat/{Username}"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor _http
@inject IChatService _chat

<PageTitle>Chat with @Username</PageTitle>

<div style="overflow: auto; max-height: 740px" class="container">
    <div class="row">
        <!-- Messages -->
        <div class="col">
            <ul>
                @foreach (var item in Messages)
                {
                    <li>@item.SentAt || @item.SenderUser : @item.Text</li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="container fixed-bottom bg-light" style="height: 5em;">
    <div class="row justify-content-center">
        <div class="col">
            <div class="invisible">

            </div>
        </div>
        <div class="col">
            <input class="form-control shadow" type="text" @bind="messageInput" />
        </div>
        <div class="col">
            <button @onclick="() => Send()" class="btn btn-primary text-white w-25">Send</button>
        </div>        
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    public List<Message> Messages { get; set; } = new List<Message>();

    private HubConnection hubConnection;
    private string messageInput;

    protected override async void OnInitialized()
    {
        await CheckForNewMessages();

        #pragma warning disable CS4014

        await InvokeAsync(StateHasChanged);

        #pragma warning restore CS4014

        hubConnection = new HubConnectionBuilder()
                            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
                            .Build();        

        hubConnection.On<Message>("NewMessage", (message) =>
        {
            CheckForNewMessages();
        });

        await hubConnection.StartAsync();

        await hubConnection.InvokeAsync("JoinGroup", Username);

        base.OnInitialized();
    }

    private async Task CheckForNewMessages()
    {
        Messages = await _chat.GetMessagesFromChatByUsers(Username, Helpers.GetObjectFromJson<string>(_http.HttpContext.Session, "Username")) ?? new List<Message>();
        Messages.OrderBy(x => x.SentAt);

        #pragma warning disable CS4014

        await InvokeAsync(StateHasChanged);

        #pragma warning restore CS4014
    }

    private async Task Send()
    {
        if (hubConnection is not null && _http is not null && !string.IsNullOrEmpty(messageInput.Trim()))
        {
            await hubConnection.SendAsync("SendMessage", _http.HttpContext.User.Identity.Name, Username , messageInput);

            messageInput = "";

            await CheckForNewMessages();

            await InvokeAsync(StateHasChanged);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}