

<AuthorizeView>
    <Authorized>
        <!-- Add Notification Center -->
        
        <a class="text-dark" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form class="text-dark" method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    protected override async Task OnInitializedAsync()
    {        
        await base.OnInitializedAsync();
    }
}